<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Administrative names-->
    <add key="TenantUrl" value="https://spbanksystemtutest.sharepoint.com/sites/cm" />
    <add key="AdminUser" value="admin@spbanksystemtutest.onmicrosoft.com" />
    <add key="Password" value="pass@word1" />
    <!--Fileds names-->
    <add key="CurrencyTermGuid" value="c7996ad4-7b12-4385-a2ad-90bdce5f7777"/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
  </appSettings>
</configuration>